html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
    ========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Grouping content
    ========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
    ========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bold;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.4em;
}

/* Embedded content
    ========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
    ========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*		`fieldset` elements in all browsers.
*/
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
    ========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
    ========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

/* new css  */

/* Header */

.header-4-3 .modal-backdrop.show {
  background-color: #707092;
  opacity: 0.6;
}

.header-4-3 .modal-item.modal {
  top: 2rem;
}

.header-4-3 .navbar,
.header-4-3 .hero {
  padding: 3rem 2rem;
  width: 100%;
}

.header-4-3 .navbar-dark .navbar-nav .nav-link {
  font: 300 18px/1.5rem Poppins, sans-serif;
  color: #707092;
  transition: 0.3s;
}

.header-4-3 .navbar-dark .navbar-nav .nav-link:hover {
  font: 600 18px/1.5rem Poppins, sans-serif;
  color: #e7e7e8;
  transition: 0.3s;
}

.header-4-3 .navbar-dark .navbar-nav .active > .nav-link,
.header-4-3 .navbar-dark .navbar-nav .nav-link.active,
.header-4-3 .navbar-dark .navbar-nav .nav-link.show,
.header-4-3 .navbar-dark .navbar-nav .show > .nav-link {
  font-weight: 600;
  transition: 0.3s;
}

.header-4-3 .navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.header-4-3 .btn:focus,
.header-4-3 .btn:active {
  outline: none !important;
}

.header-4-3 .btn-fill {
  font: 600 18px / normal Poppins, sans-serif;
  background-color: #524eee;
  border-radius: 12px;
  padding: 12px 32px;
  transition: 0.3s;
}

.header-4-3 .btn-fill:hover {
  --tw-shadow: inset 0 0px 25px 0 rgba(20, 20, 50, 0.7);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition: 0.3s;
}

.header-4-3 .btn-no-fill {
  font: 300 18px/1.75rem Poppins, sans-serif;
  color: #e7e7e8;
  padding: 12px 32px;
  transition: 0.3s;
}

.header-4-3 .btn-no-fill:hover {
  color: #e7e7e8;
}

.header-4-3 .modal-item .modal-dialog .modal-content {
  border-radius: 8px;
  transition: 0.3s;
}

.header-4-3 .responsive li a {
  padding: 1rem;
  transition: 0.3s;
}

.header-4-3 .left-column {
  margin-bottom: 2.75rem;
  width: 100%;
}

.header-4-3 .text-caption {
  font: 600 0.875rem/1.625 Poppins, sans-serif;
  margin-bottom: 2rem;
  color: #fb6262;
}

.header-4-3 .title-text-big {
  font: 600 2.25rem/2.5rem Poppins, sans-serif;
  margin-bottom: 2rem;
  color: #fff;
}

.header-4-3 .btn-try {
  font: 600 1rem/1.5rem Poppins, sans-serif;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  background-color: #524eee;
  transition: 0.3s;
}

.header-4-3 .btn-try:hover {
  --tw-shadow: inset 0 0px 25px 0 rgba(20, 20, 50, 0.7);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition: 0.3s;
}

.header-4-3 .btn-outline {
  font: 400 1rem/1.5rem Poppins, sans-serif;
  border: 1px solid #707092;
  color: #707092;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  background-color: transparent;
  transition: 0.3s;
}

.header-4-3 .btn-outline:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: 0.3s;
}

.header-4-3 .btn-outline:hover div path {
  fill: #ffffff;
  transition: 0.3s;
}

.header-4-3 .right-column {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .header-4-3 .modal-item .modal-dialog {
    max-width: 95%;
    border-radius: 12px;
  }

  .header-4-3 .navbar {
    padding: 3rem 2rem;
  }

  .header-4-3 .hero {
    padding: 3rem 2rem 5rem;
  }

  .header-4-3 .title-text-big {
    font-size: 3rem;
    line-height: 1.2;
  }
}

@media (min-width: 768px) {
  .header-4-3 .navbar {
    padding: 3rem 4rem;
  }

  .header-4-3 .hero {
    padding: 3rem 4rem 5rem;
  }

  .header-4-3 .left-column {
    margin-bottom: 3rem;
  }
}

@media (min-width: 992px) {
  .header-4-3 .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .header-4-3 .navbar {
    padding: 2rem 6rem;
  }

  .header-4-3 .hero {
    padding: 3rem 6rem 5rem;
  }

  .header-4-3 .left-column {
    width: 50%;
    margin-bottom: 0;
  }

  .header-4-3 .title-text-big {
    font-size: 3.75rem;
    line-height: 1.2;
  }

  .header-4-3 .right-column {
    width: 50%;
  }
}
/* end of new css */

.primary-button {
  background-color: #f69220;
  padding: 13px 26px;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  font-size: 13px;
  transition: all 350ms ease-out;
}
.primary-button:hover {
  text-decoration: none;
  color: white;
  background-color: #e08c1e;
  opacity: 1;
}
.primary-button:active {
  background-color: #ca7e1b;
}

/* .active {
    background: #F9F9FC;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
} */

.container-fluid {
  padding: 0;
}
.container-fluid .row-sec1 {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.container-fluid .col-sec1 h1 {
  font-size: 48px;
  font-weight: bold;
}
.container-fluid .col-sec1 h1:nth-child(2) {
  font-weight: lighter;
  margin: 16px 0 32px;
}
.container-fluid .col-sec1 > * {
  margin: 0;
}
.container-fluid .col-sec1 h3 {
  margin: 16px 0;
}
.container-fluid .row-sec1 {
  background-image: url('../images/Background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  min-height: 420px;
  height: 100vh;
  max-height: 800px;
  align-items: center;
}

.btn-group {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}
.btn1,
.btn2 {
  white-space: nowrap;
  flex: 1;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  border: 0;
  font-size: 13px;
  padding: 13px 26px;
  transition: all 350ms ease-out;
}
.btn-group > * + * {
  margin-left: 32px;
}
.btn1 {
  background: transparent;
}

.btn1:hover {
  opacity: 1;
}
.btn2 {
  background: #f69220;
}
.btn2:hover {
  opacity: 1;
  background: #e08c1e;
}
.btn2:active {
  background: #ca7e1b;
}

.subheading,
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: bold;
}
.subheading,
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: lighter;
}
.subheading,
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
}
.background-container {
  height: 480px;
  width: 50vw;
  max-width: 100vw;
  background-image: url('../images/Img2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5em;
}
.inner-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.subheading-2 {
  min-width: 50%;
  max-width: 40vw;
  padding: 48px;
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: -2px 7px 32px -12px rgba(0, 0, 0, 0.75);
  position: absolute;
  right: 0;
  top: 55%;
  border-radius: 6px;
  transform: translateY(-50%);
}
.subheading-2 h1,
.subheading-2 h2 {
  font-size: 24px;
}
.subheading-2 p {
  font-size: 15px;
}
#section2 {
  background-color: linear-gradient(rgba(242, 242, 251, 0.95), white);
}

/* .container-3 .row > [class*='col-'] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
} */
.row .display-flex {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.row .display-flex > [class*='col-'] {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.d-flex {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#team .card {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  box-shadow: 5px 5px 15px rgb(211, 208, 205);
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}
#team .card:hover {
  background: #f2f2fb;
  color: rgb(22, 27, 25);
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 10px #9e9e9e;
}

.card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: rgb(83, 85, 84);
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border: 0px transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card .card-heading {
  padding: 0 20px;
  margin: 0;
}

.card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
}

.card .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
}
.card .card-body h3 {
  font-size: 25px;
  font-weight: 600;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card .card-body h5 {
  font-size: 16px;
  font-weight: 500;
}
.card .card-body h6 {
  font-size: 14px;
  font-weight: 200;
}
.card .card-body p {
  height: 160px;
  line-height: 24px;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
  background: #1c2350;
  background-size: cover;
  height: 135px;
}

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.card.hovercard .avatar img {
  object-fit: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
.title {
  color: grey;
  font-size: 18px;
}
a {
  text-decoration: none;
  font-size: 12px;
  color: #2d9ae3;
}
.secondary-button {
  background-color: #0e76a8;
  padding: 8px 16px;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  font-size: 13px;
  transition: all 350ms ease-out;

  display: flex;
  align-items: center;
}
.secondary-button .fa {
  font-size: 24px;
  margin-right: 12px;
}
.secondary-button:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(14, 103, 145);
  opacity: 1;
}
.secondary-button:active {
  background-color: rgb(12, 90, 126);
}

.container-4 {
  display: flex;
  padding-bottom: 64px;
  padding-top: 32px;
}
.container-4 #box h5 {
  color: rgb(49, 46, 46);
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: left;
}
.container-4 #box {
  background-color: rgb(248, 248, 252);
  margin-right: 16px;
  margin-left: 8px;
  padding: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 10px #9e9e9e;
}
.container-4 #box:hover {
  opacity: 1;
  background: rgb(236, 236, 241);
  transition: all 30ms ease-out;
}
.container-4 #box:active {
  background: rgb(219, 219, 224);
  transition: all 30ms ease-out;
}

footer {
  background-color: #141432;
  color: white;
  width: 100%;
  font-family: Open Sans;
}
.text-h {
  font-size: 24px;
  font-family: Open Sans;
}
.tp {
  font-size: 14px;
  font-family: Open Sans;
}

.row footer {
  padding: 2.5%;
}

h6 {
  font-size: 18px;
  font-family: Open Sans;
}

/* Tambahan Ibnu */
.card-project img {
  filter: brightness(0.5);
  transition: 0.6s all ease-in-out;
}

.card-project {
  transition: 0.6s all ease-in-out;
}

.card-project:hover img {
  filter: brightness(0.8);
  transition: 0.6s all ease-in-out;
}

.card-project:hover {
  transform: translateY(-20px);
  transition: 0.6s all ease-in-out;
}

.img-overlay {
  display: grid;
}

.card-title {
  display: grid;
  align-content: center;
  font-weight: bold;
  letter-spacing: 0.7px;
}

/* Project Page */
.project-1 {
  margin-top: 200px;
  margin-bottom: 100px;
}

.project-1 .title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 42px;
  color: #1d6a65;
  line-height: 48px;
  letter-spacing: 1px;
}

.project-1 .deskripsi {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #1d6a65;
  line-height: 25px;
  text-align: justify;
}

.project-1 .inner-project {
  padding-right: 90px;
  padding-left: 30px;
}

.project-1 .facilities {
  margin-top: 32px;
}

.project-1 .facilities p {
  color: #1d6a65;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: justify;
}

.project-1 .btn-contact {
  background: #f6b02e;
  padding: 12px 24px;
  font-weight: 400;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

/* Project-2 */
.project-2 {
  margin: 80px 10px;
}

.project-2 .gallery {
  margin-top: 10px;
  transition: 0.3s all ease-in-out;
}

.project-2 .gallery:hover {
  transform: translateY(-20px);
  transform: scale(110%);
  transition: 0.3s all ease-in-out;
}

/* Project-3  */
.project-3 {
  margin-bottom: 40px;
}

.project-3 .title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #1d6a65;
  line-height: 48px;
  letter-spacing: 1px;
}

.project-3 .deskripsi {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #1d6a65;
  line-height: 25px;
  text-align: justify;
}

.slider {
  max-width: 1000px;
  margin: 0 auto;
}
.slick-slide {
  margin: 0 5px;
}
.slick-list {
  margin: 0px -5px 0px -5px;
}
button.slick-next,
button.slick-next:hover {
  position: absolute;
  top: 41%;
  right: 14px;
  width: 45px;
  height: 45px;
  background-image: url('../images/111.png');
  background-size: 45px;
  background-position: center;
}
button.slick-prev,
button.slick-prev:hover {
  position: absolute;
  top: 41%;
  z-index: 500;
  left: 14px;
  width: 45px;
  height: 45px;
  background-image: url('../images/25.png');
  background-size: 45px;
  background-position: center;
}
.slick-prev:before,
.slick-next:before {
  font-size: 70px;
  color: #ea8496;
  line-height: inherit;
  font-weight: bold;
}

/* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
/* Slider */
.slick-slider {
  position: relative;

  display: block;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}

.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

/* Icons */

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: '';
}
[dir='rtl'] .slick-prev:before {
  content: '';
  font-weight: bold;
  font-size: 20px;
}

.slick-next {
  right: -25px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: '';
}
[dir='rtl'] .slick-next:before {
  content: '';
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;

  display: block;

  width: 100%;
  padding: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'Open Sans', sans-serif;
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

/* slider img responsive  */
.responsive-slider {
  padding: 0;
  margin: 0;
}
.responsive-slider .img-slider {
  width: 100%;
  height: 100vh;
  text-align: center;
}

@media (max-width: 433px) {
  button.slick-prev,
  button.slick-prev:hover {
    left: 0;
  }
  button.slick-next,
  button.slick-next:hover {
    right: 0;
  }
  .background-container {
    width: -webkit-fill-available;
  }
  .subheading-2 {
    max-width: fit-content;
    flex-direction: column;
  }
  .container-4 {
    flex-wrap: wrap;
  }
  .container-4 .col-lg-3 {
    margin-bottom: 14px;
  }
}
.responsive-slider .img-slider {
  width: 100%;
  height: 60vh;
  text-align: center;
  object-fit: cover;
  object-position: bottom;
}
